defaults: &defaults
  type: imap 
  server: imap.gmail.com 
  port: 993      
  ssl: true          
  username: stories@tumblepop.com  
  password: x5hKV8E1Ev 
  receiver: StoryProcessor 
  use_login: true 
  sleep_time: 30
  authentication: # LOGIN, CRAM-MD5, PASSWORD (IMAP Only)
  processed_folder: stories
  error_folder: other

development:
  <<: *defaults
  # Override other values here
  
test:
  <<: *defaults
  # Override other values here
  
production:
  <<: *defaults
  # Override other values here